body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0505;
}

.main-header {
  background-color: #000;
  padding: 10px 0;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.joke-container {
  background-color: #ffffff;
  border-radius: 25%;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

#joke-button {
  background-color: #e1259f;
  color: white;
  padding: 10px 20px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.joke-chosen {
  font-size: 18px;
  color: #988f8f;
  margin-top: 15px;
  background-color: #333333;
}
